
html
  box-sizing: border-box
  font-size: 10px

body
  font-family: 'Roboto-Regular', sans-serif;
  font-size: 1.5rem
  line-height: 2.4rem
  color: $text
  font-weight: 400

*,
*::before,
*::after
  box-sizing: inherit

a
  display: inline-block
  text-decoration: none
  color: $text
  

ul,
li
  margin: 0
  padding: 0
  list-style: none

.container
  max-width: 120rem
  margin: 0 auto
  padding: 0 1.5rem

.container-fluid
  max-width: 100%
  margin: 0 auto
  padding: 0 3rem

@media screen and ( max-width:720px)
  .cpntainer-fluid
    padding: 0 1.5rem


.titel  
  margin-bottom: 3rem
  text-align: center
  font-size: 3.6rem;
  font-weight: 700;
  line-height: 6rem;
  color: $bg

  
  